@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	@font-face {
	  font-family: 'Uthmanic';
	  font-style: normal;
	  font-weight: 400;
	  font-display: swap;
	  src: url(/fonts/UthmanicHafs_V22.woff2) format('woff2');
	}
  }

body {
	@apply text-dark-100;
}